body{
  font-family: 'Roboto', sans-serif;
}

#home{
  background-image: url("https://i.imgur.com/eptR8pa.jpg");
  height: 1080px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header{
  margin: 2em 2em;
  font-size: 1.25em;
  word-spacing: 2em;
  color: white;
  position: fixed;
  width: 90%;
}

ul{
  display: inline;
  float: right;
}

li{
  display: inline-block;
}

li a{
  text-decoration: none;
  color: white;
}

li a:hover{
  color: grey;
  border-bottom: 2px solid grey;
}

#about{
  height: 1000px;
  padding-top: 3em;
}

h1{
  font-size: 2em;
  text-align: center;
  font-weight: bold;
}

#bio{
  margin: 0 auto;
  width: 60%;
  padding-top: 3em;
  line-height: 40px;
}

p{
  font-size: 1.25em;
  padding-bottom: 1.5em;
}

p a{
  color: blue;
  text-decoration: none;
}

footer{
  text-align: center;
  padding: 3em 3em;
  background-color: gray;
  color: white;
}
